body{
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center center-bottom;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

h2 {
  color: #e8e8e8;
  text-align: center;
}

p{
  color: #e8e8e8;
  text-align: center;
}

.input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
